html{
    font-family: 'VCR', monospace;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

.pageContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.inputContainer{
    font-size: 1rem;
    gap: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top:2rem;
}

.loginResult{
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: 50px;
}

.loginResult:hover{
    color: #0004ED;
    background-color: white;
}
form{
    margin-top: 20vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 40vw;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    gap: none;
}

.inputContainer label{
    font-size: 1.5rem;
}

.inputContainer input{
    width: 25vw;
    font-size: 1.5rem;
    text-align: left;
    font-family: 'VCR', monospace;
    border: none;
    background-color: transparent;
    color: white;
    overflow: auto;
   
}

::placeholder{
    color: rgb(255, 255, 255);
}

::-ms-reveal {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(200deg); /* Example: changes color using CSS filters */
    
}

.inputTitle{
    font-size:10rem;
   
}

.inputContainer input:focus{
    outline: none;
    border: none;
    background-color: transparent;
    border-color: transparent;
}


.submitButton{
    text-align: center;
    font-family: 'VCR', monospace;
    font-size: 2.1rem;
    border: none;
    color: white;
    background-color: transparent;
    margin-top: 3rem;
   
}

.submitButton:hover{
    font-family: 'VCR', monospace;
    border: none;
    color: #0004ED;
    background-color: white;
}

