html{
    font-family: 'VCR', monospace;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

.pageContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
}

.inputContainer{
    font-size: 1rem;
    gap: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.SignUpResult{
    font-weight: 100px;
    margin-top: 5rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 50px;
}

.SignUpResult:hover{
    color: #0004ED;
    background-color: white;
}

form{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputContainer input{
    width: 75vw;
    min-width: 40vw;
    max-width: 100vw;
    text-align: center;
    font-family: 'VCR', monospace;
    font-size: 2rem;
    border: none;
    color: white;
    background-color: transparent;
    padding: 2rem 0.2rem;
    overflow: auto;
}

::placeholder{
    color: white;
}

::-ms-reveal {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(200deg); /* Example: changes color using CSS filters */
    
}

.inputTitle{
    font-size:10rem;
   
}

.inputContainer input:focus{
    outline: none;
    border: none;
    background-color: transparent;
    border-color: transparent;
}


.submitButton{
    text-align: center;
    font-family: 'VCR', monospace;
    font-size: 2.1rem;
    border: none;
    color: white;
    background-color: transparent;
    margin-top: 3rem;
   
}

.submitButton:hover{
    font-family: 'VCR', monospace;
    border: none;
    color: #0004ED;
    background-color: white;
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-right: 2rem;
    background-color: transparent;
    margin-top: 1.5rem
}

.navbar h3{
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    transition: background-color 0.2s, ease 0.1s;
    padding: 1rem;

} 

.navbar a{
    all:unset;
} 

.navbar h3:hover{
    background-color: white;
    color: #0004ED;
} 

.navbar h3:focus{
    background-color: white;
    color: #0004ED;
} 



