@import '../../assets/fonts.css';

.pageContainer{
    font-family: 'VCR', monospace;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    color: white;
}

.header{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    margin: 4rem 0rem;
}

