@import '../../assets/fonts.css';

.pageContainer{
    font-family: 'VCR', monospace;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    margin: 6rem 0rem;
} 

.header a{
    all: unset;
}

.formContainer{
    font-size: 2.6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50vw;
    height: 100%;
    gap: 2.5rem;
    margin: 0rem;
    margin-top: 2rem;
    padding: 0rem;
    align-items: flex-start;
}

.inputFieldContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}
.inputField {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inputField input{
    all: unset;
    width: 100%;
}

.controlContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
    margin: 0rem;
}

.control{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    margin: 0rem;
    gap: 2rem;
}
.control a{
    all: unset;
    padding: 0rem;
    margin: 0rem;
}

.control p{

    padding: 0rem;
    margin: 0rem;
}

.control button{
    all: unset;
    padding: 0rem;
    margin: 0rem;
}




