.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-right: 2rem;
    background-color: transparent;
    margin-top: 1.5rem
}

.navbar h3{
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    transition: background-color 0.2s, ease 0.1s;
    padding: 1rem;

} 

.navbar a{
    all:unset;
} 

.navbar h3:hover{
    background-color: white;
    color: #0004ED;
} 

.navbar h3:focus{
    background-color: white;
    color: #0004ED;
} 

