html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background:
    radial-gradient(
      ellipse at center,
      #0004ED 0%,
      #0004ED 20%,
      #1a1a2f 100%,
      #201818 100%
    );

  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.pageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
