.tableContainer{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center; 
    overflow-y: auto;           
}   
table{
}
td{
    text-align: center;
    padding: 2rem;
    border: 1px white solid;
}
 

th{
    padding: 1rem;
}

button {
    all : unset;
}

.filterInput{
    all:unset;
    width: 40vw;
    padding: 0vw 1.75vw;
    height: 3.5rem;
    border: 2px white solid;
    font-size: 1.5rem;
}