@import '.././assets/fonts.css';


.pageContainer{
    font-family: 'VCR', monospace;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    color: white;
    max-width: 1920px;
}

.header p{
    text-align: center;
    width: 10rem;
}

.header a{
    all : unset;
}

.screenContainer{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screen{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 6rem 20rem 8rem 20rem;
    gap: 1rem;
    width: 500px;
}

.screenTitle{
    font-size: 1.5rem;
}
.timeline{
    font-size: 1rem;
    margin: 0rem;
    padding: 0em;
}

.balance{
    font-size: 4rem;
}

.controlsAndShortcutsContainer{
    margin: 4rem 0rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controls a{
    all: unset;
}

.shortcutsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6rem;
    margin: 0rem 15vw;
}

.shortcut{
    outline: 4px solid white;
    padding: clamp(1rem, 2.6vw, 2.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 70px;
    max-width: 70px;
}

.shortcutTitle{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.shortcutAmount{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.shortcutsButton{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media screen and (max-width: 900px){
    
}