html{
    font-family: 'VCR', monospace;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

.pageContainer{
    font-family: 'VCR', monospace;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    color: white;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

